page-login {
    .bg-login {
        width: 100%;
        height: 100%;
        background-image: url('/assets/imgs/bg-prestman.jpg');
        background-size: cover;
        background-position: center;
    }

    .bg-register {
        width: 100%;
        height: 100%;
        background-image: url('../assets/imgs/fundo-bg.jpg');
        background-size: cover;
        background-position: center;
    }

.overlay2 {
    width: 100%;
    height: 100%;
   // background: linear-gradient(to top, #000, yellow);
    background: linear-gradient(to top, rgb(40, 23, 198), transparent);
    padding: 20px
}

.logo-prestman {
    width: 20%;
    position: relative;
    top: -20px;
}

    .bg-transp {
        background: transparent
    }

.ctaLogin {
    padding: 15px;
    background: $Ghostwhite;
    border-radius: 80px;
    color: $Black;
}

.ctaRegister {
    padding: 15px;
    background: $Ghostwhite;
    border-radius: 80px;
    color: $Black;
}

.txtRegistrar {
    color: $Ghostwhite;
}



}